<a href="#" class="gloo-button">Button</a>
<a href="#" class="gloo-button gloo-button--small">Small button</a>
<a href="#" class="gloo-button gloo-button--medium">Medium button</a>
<a href="#" class="gloo-button gloo-button--large">Medium button</a>